@media screen and (max-width:1400px){
    #profile{
        height:83vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
    #contact,#projects{
        height:fit-content;
    }
}

/* when screen size<1200px, desktop nav will dissapear */
@media screen and (max-width: 1200px) {
    #desktop-nav{
        display:none
    }
    #hamburger-nav{
        display:flex;
    }
    #profile, .section-container{
        display:block;
    }
    section, .section-container{
        height:fit-content;
    }

    .arrow{
        display: none;
    }
    section{
        margin: 0 5%;
    }

    .section_pic-container{
        width:275px;
        height:275px;
        margin: 0 auto 2rem;
    }

    .about-containers{
        margin-top:0;
    }
}

@media screen and (max-width:600px){
    #profile{
        height: 83vh;
        margin-bottom:0;
    }
    .about-containers{
        flex-wrap: wrap;
    }

    .about-containers, 
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
    }

    .section_pic-container{
        width: auto;
        justify-content: center;
    }
    
    .nav-links{
        flex-direction:column;
        gap:0.5rem;
        text-align: center;
    }
    .text-container{
        text-align: justify;
    }

    footer nav{
        height:fit-content;
        margin-bottom: 2rem;
    }

}