@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
}

body {
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

/* TRANSITION */
a,
.btn{
    transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links{
    display: flex;
}

/* vh is percentage, justify-content to make space */
nav{
    justify-content: space-around;
    align-items: center;
    height:17vh;
}

/* list style to remove dots, rem is similar to pixel */
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

/* text decoration none to remove underlines */
a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo{
    font-size:2rem;
}

.logo:hover{
    cursor:default;
}

/* HAMBURGER MENU */
/* use display none in order to not show the navbar when in desktop */
#hamburger-nav{
    display:none;
}

.hamburger-menu{
    position:relative;
    display: inline-block;
}

.hamburger-icon{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:24px;
    width:30px;
    cursor:pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

/* overflow to make the dropdown menu dissapear */
.menu-links{
    position:absolute;
    top:100%;
    right:0;
    background-color: white;
    width: fit-content;
    max-height:0;
    overflow:hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display:block;
    padding:10px;
    text-align:center;
    font-size:1.5rem;
    text-decoration:none;
    color:black;
    transition: all 0.3 ease-in-out;
}

/* remove bullet points */
.menu-links li{
    list-style:none;
}

.menu-links.open{
    max-height: 300px;
}

/* sets a state of .hamburger-icon */
.hamburger-icon span:first-child{
    transform:none;
}
.hamburger-icon span:first-child{
    opacity:1;
}
.hamburger-icon span:first-child{
    transform:none;
}

/* transforming the line to rotate it into an x, and move it in xy direction */
.hamburger-icon.open span:first-child{
    transform:rotate(45deg) translate(10px, 5px);
}
/* remove second line with opacity:0 */
.hamburger-icon.open span:nth-child(2){
    opacity:0;
}
.hamburger-icon.open span:last-child{
    transform:rotate(-45deg) translate(10px, -5px);
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* PROFILE SECTION */
#profile{
    display:flex;
    justify-content: center;
    gap: 5rem;
    height:80vh;
}

.section_pic-container{
    display:flex;
    height:400px;
    width:400px;
    margin: auto 0;
}

.section_text p{
    font-weight: 600;
}

.section_text{
    align-self:center;
    text-align:center;
}

.section_text_p1{
    text-align:center;
}

.section_text_p2{
    font-size:1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size:3rem;
    text-align:center;
}

.subtitle{
    font-size:1.5rem;
    text-align: center;
}

#socials-container{
    display:flex;
    justify-content: center;
    margin-top:1rem;
    gap:1rem;
}

/* ICON */
.icon{
    cursor:pointer;
    height:2rem;
}

.btn-container{
    display:flex;
    justify-content: center;
    gap:1rem;
}

.btn{
    font-weight:600;
    padding: 1rem;
    border-radius: 2rem;
}

.btn-download-resume, .btn-contact{
    border: rgb(53, 53, 53) 0.1rem solid;
    background-color:white
}

.btn-download-resume:hover, .btn-contact:hover{
    cursor:pointer;
    background-color: black;
    color:white
}

/* ABOUT SECTION */
.work-experience-list{
    list-style: none;
    justify-items: center;
}

.work-experience-container{
    padding:50px;
}

/* EXPERIENCE SECTION */

/* PROJECT SECTION */
.project-img{
    border-radius: 2rem;
    width:90%;
    height:90%
}

/* CONTACT SECTION */
#contacts{
    display:flex;
    height:70vh;
    justify-content: center;
    flex-direction: column;
}

.contact-info-upper-container{
    display:flex;
    justify-content: center;
    border:0.1rem solid rgb(53, 53, 53);
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display:flex;
    align-items:center;
    justify-content:center;
    /* gap:0.5rem; */
    margin:1rem;
}
.contact-icon{
    cursor:default;
}

.email-icon{
    height:2.5rem;
}